html {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-job-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

textarea {
  height: 300px;
  width: 500px;
  resize: none;
}

.user-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.text-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

button:hover {
  cursor: pointer;
}

.resultCardContainer {
  display: flex;
  justify-content: center;
  align-items: flex start;
  gap: 20px;
}

.keywords {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.keyword {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: 40%;
}

ul {
  margin: 0;
  padding: 0;
}
