html {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-job-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 1px solid white;
}

textarea {
  height: 150px;
  width: 250px;
  resize: none;
}

.user-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.text-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

button:hover {
  cursor: pointer;
}